output
input
models/finetune/ResNet_*
models/pre-trained/dynamic/ResNet_*
tasks.txt
preprocess/backup
preprocess/domain_extract/libctg*
models/resnet18/lightning_logs
models/prediction/lightning_logs
models/finetune/lightning_logs
models/lib/Dataset/__pycache__
models/lib/Progress/__pycache__
models/lib/Utils/__pycache__
models/prediction/__pycache__
models/prediction/libtcg_DynamicModel/__pycache__
models/prediction/utilities/__pycache__
postprocess/__pycache__
preprocess/domain_extract

